<h3 align ="center">Super Bikes</h3>
<h4> Total Bikes In Stock : {{calcProd()}}</h4>
<ul>
  <li *ngFor="let bike of biKes">   
     <div class="col s12 m4">
        <div class="card" [class.clsName] = "bike.clsVar">
           <div class="card-image">
               <img src="../../../assets/img/{{bike.prodImg}}" height="450px">
                <span class="card-title">{{ bike.bikename | uppercase }}</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                
                <p class="appSimpleStyle"> 
                    <b> Company Of the Bike: <p>{{bike.bikecompany | uppercase}}</p></b>
                 </p>
                 <p><b> Name Of The Bike: <p>{{bike.bikename | uppercase}}</p></b> 
                 </p>
                <div>
                    <b> Top Speed Of The Bike: <p>{{bike.topspeed}}</p></b>
                 </div>
                 <ng-container *ngIf="bike.instock!=0;then stock;else outofstock"> 
                 </ng-container>
                 <ng-template #stock>  
                  <b>Bikes Available:<mark>{{bike.instock}}</mark></b>
                 </ng-template>
                 <p>
                  <a class="waves-effect waves-light btn" (click)="downQuantity(bike)" ><i class="material-icons">remove</i></a>
                  <input type="number"
                   [(ngModel)]="bike.quantity" 
                   (event)="bike.quantity=$event.target.value" > 
                  {{bike.quantity}}
                  <a class="waves-effect waves-light btn"(click)= "upQuantity(bike)"><i class="material-icons">add</i></a>
                 </p>
                 <ng-template #outofstock>
                    <b><mark>Bike is Out Of Stock</mark></b> 
                 </ng-template> 
           
                 <div [ngStyle]="{display: bike.canpurchase === true ? 'inline-block' : 'none'}"> <p>
                     <img src="../../../assets/img/office.jpg" width="16"
                     /></p>
                 </div>
                 <p>
                    <b>Square Root of 144 : {{144 | sqrt | currency : 'INR'}}</b> 
                 </p>
              
              </div>
            </div>
          </div>
        
  
       
  
  
    </li>
  </ul>
