<p>Template Driven Form</p>

<form #formVar="ngForm">
    <div class="input-field">
      <label>Username</label>
      <input
        type="text"
        ngModel
        name="uName"
        #tempVar="ngModel" 
        required
        minlength="3"
        pattern="Angular"
      />
    </div>
    <div style="color: red;">
      <div  *ngIf="tempVar.touched && !tempVar.valid"> Username invalid</div>
      <div *ngIf="tempVar.errors.required">Input field cannot be emty</div>
      <div *ngIf="tempVar.errors.minlenght">Minimum lenght must be of{{ tempVar.errors.minlenght.requiredLenght }} lenght</div>
      <div *ngIf="tempVar.errors.pattern">Wrong Pattern</div>
      
    </div>
  </form> 