<h1 align="center"><b>{{title}}</b></h1>
<hr>
<ul>
    <li *ngFor="let bike of bikes">
        <div style="color: blue;">
           <b> Company Of the Bike: <p>{{bike.bikecompany}}</p></b>
        </div>
        <p><b> Name Of The Bike: <p>{{bike.bikename}}</p></b>
        </p>
       <div>
           <b> Top Speed Of The Bike: <p>{{bike.topspeed}}</p></b>
        </div>
        <ng-container *ngIf="bike.instock!=0;then stock;else outofstock"> 
        </ng-container>
        <ng-template #stock>
         <b>Bikes Available:<mark>{{bike.instock}}</mark></b>
        </ng-template>
        <ng-template #outofstock>
           <b><mark>Bike is Out Of Stock</mark></b>
        </ng-template>

        <div [ngStyle]="{display: bike.canpurchase === true ? 'inline-block' : 'none'}">
            <img src="https://www.google.co.in/url?sa=i&url=https%3A%2F%2Fwww.pngflow.com%2Fen%2Ffree-transparent-png-oaxzc&psig=AOvVaw1J3HC17uXOhbilHmyoTX4-&ust=1591887386704000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOD_h_6D-ukCFQAAAAAdAAAAABAD" width="16"
            />
        </div>

       


    </li>
</ul>